body {
    background-image: url("../images/kholodnitskiy-maksim-198-unsplash.jpg");
    background-size: cover;
    margin: 0;
}

h2 {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: chocolate;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5em;
}

th {
    letter-spacing: 0.05em;
}

.form-group {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
}


nav {
    height: 140px;
    background-color: rgb(206, 115, 4);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 160px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    word-spacing: 0.05em;
    color: whitesmoke;
    text-shadow: 3px 2.5px black;
    padding-top: 25px;
}

.container {
    width: 70%;
    padding: 0px 40px 30px 40px;
    margin-top: 50px;
}


.thead-dark {
    height: 20px;
    background-color: darkslategray;
    color: white;
}

.col-sm-8 {
    background-color: white;
    padding: 20px;
}

.col-sm-4 {
    background-color: aliceblue;
    padding: 30px;
}


#addTrainButton {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
}

#addTrain {
    text-align: center;
}